@import './base.css';

#app {
    width: 100vw;
    margin: 0 auto;
    padding: 0 1rem;
    font-weight: normal;
    font-family: var(--vt-f-sans-serif);
}

header::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-focus);
    margin: 2rem 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.themes:hover {
    cursor: pointer;
}

h1 {
    font-family: var(--vt-f-serif);
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-title);
}

h2 {
    font-family: var(--vt-f-sans-serif);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-title);
    opacity: .7;
    margin: 25px 5px;
}

h3 {
    font-family: var(--vt-f-sans-serif);
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-title);
}

p, a {

}

a {
    /*text-decoration: none;*/
    color: var(--color-text);
    transition: 0.4s;
}

@media (hover: hover) {
    /*a:hover {*/
    /*  background-color: hsla(50, 100%, 37%, 0.2);*/
    /*}*/
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: flex-start;
        justify-content: center;
    }

    .side_menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        max-width: 100px;
        padding: 2rem 1rem;
        background-color: var(--color-background);
        border-right: 1px solid var(--color-border);
        overflow-y: auto;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .side_menu nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav ul li {
        list-style: none;
    }
    nav ul li::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--color-focus);
        margin: 20px 0;
    }

    nav ul li a {
        margin-bottom: 1rem;
    }

    #app {
        padding: 2rem 5rem 2rem 150px;
    }

    section {
        width: 100%;
        margin: 50px auto;
    }

    .galerie {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }

    .galerie li {
        flex: 1;
        margin: 0 5px;
    }

    .galerie li a {
        background-color: var(--color-background);
        height: 550px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }

    .galerie li a:hover {
        background-color: var(--color-background-soft);
    }

    .galerie img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: center;
        margin-bottom: 1rem;
    }

    .card_txt {
        padding: 15px;
    }

    .controls {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .controls button {
        padding: 10px 15px;
        border: none;
        background-color: var(--color-background);
        color: var(--color-text);
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
        transition: 0.4s;
    }
}